<!-- <mat-progress-bar mode="indeterminate" class="bar" color="secondary"></mat-progress-bar> -->

<div class="info-container">
    <p>How to play & Rules:</p>
    <ol>
        <li>
            Safety first! Make sure nobody gets physically or emotionally hurt!
        </li>
        <li>
            What happens in the game stays in the game! Nobody is allowed to tell anyone about the things that happened during playing.
        </li>
        <li>
            It’s a game and everyone should feel comfortable while playing. So decide what a player has to do if they want to skip a turn.
        </li>
    </ol>
</div>