.landing-logo{
    margin-top: 25vh;
    max-width: 80vw;
    width: calc(10vw + 300px);
    height: auto;

    width: calc(10vw + 200px);
    max-width: 50vw;
}

.button-wrapper{
    margin-top: 10vh;
}

.grid-item{
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.landing-button{
    margin-top: 10vh;
    width: calc(10vw + 100px);
    height: calc(5vh + 10px);
    font-size: calc(1vw + 20px);
    /* color: rgba(0,0,0,.87); */
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-button{
    position: fixed;
    top:calc(2vw + 5px);
    left:calc(2vw + 5px);
    width: calc(2vw + 40px);
    height: calc(2vw + 40px);
}
.account-button{
    position: fixed;
    top:calc(2vw + 5px);
    right:calc(2vw + 5px);
    width: calc(2vw + 40px);
    height: calc(2vw + 40px);
}


/* .button{
    width: calc(1vw + 100%);
    height: calc(5vw + 100%);
} */

.fab{
    width: 100%;
    height: 100%;
    box-shadow: none !important;
}
