<div class="container dark-background">

    <div class="info-button">
        <button mat-mini-fab flat color="primary" class="fab" (click)="openBottomSheet()">
          <mat-icon>lightbulb</mat-icon>
        </button>
    </div>

    <div class="grid-item">
        <img src="https://dare.webjuice.ro/devil.png" alt="DareGame logo" class="landing-logo">
    </div>
    <div class="grid-item">
        <button mat-flat-button color="primary" class="play-button" routerLink="/picker-page">Play</button>
    </div>

</div>