.landing-logo{
    margin-top: 15vh;
    max-width: 80vw;
    width: calc(10vw + 300px);
    height: auto;

    width: calc(10vw + 200px);
    max-width: 50vw;
}

.play-button{
    margin-top: 20vh;
    width: calc(10vw + 100px);
    height: calc(5vh + 10px);
    font-size: calc(1vw + 20px);
    color: rgba(0,0,0,.87);
}

.grid-item{
    height: 50vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-button{
    position: fixed;
    top:15px;
    left:15px;
}

.fab{
    box-shadow: none !important;
}