<div class="container dark-background">

    <div class="info-button button">
        <button mat-mini-fab flat color="primary" class="fab" (click)="openInfoPage()">
          <mat-icon>lightbulb</mat-icon>
        </button>
    </div>

    <div class="account-button button">
        <button mat-mini-fab flat color="primary" class="fab" (click)="openLoginPage()">
          <mat-icon>person</mat-icon>
        </button>
    </div>

    <div class="grid-item">
        <img src="https://dare.webjuice.ro/devil.png" alt="DareGame logo" class="landing-logo">
    </div>
    <div class="grid-item button-wrapper">
        <button mat-flat-button color="primary" class="landing-button" routerLink="/picker-page">Play</button>
        <!-- <button mat-flat-button color="primary" class="landing-button" routerLink="/picker-page">Play</button> -->
    </div>

</div>