<div class="example-container">
    <mat-table [dataSource]="dataSource">
  
      <!-- id Column -->
      <ng-container matColumnDef="DareTypeId">
        <mat-header-cell *matHeaderCellDef> DareType ID </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{element.DareTypeId}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="DareTypeName">
        <mat-header-cell *matHeaderCellDef> DareType Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.DareTypeName}} </mat-cell>
      </ng-container>

      <!-- Button zone -->
      <!-- <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button>Edit</button>
        </td>
      </ng-container> -->
  
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row matRipple (click)="editDareType(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>

<div class="add-button-container">
    <button mat-fab color="accent" (click)="addDareType()">
      <mat-icon>add</mat-icon>
    </button>
</div>