<div class="container">

    <h3 class="d-flex justify-content-center">Admin Page - Data Editing</h3>
    <h5 class="d-flex justify-content-center">Dare Management Portal</h5>

    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button routerLink="daretype"
                class="m-1 btn-light btn-outline-primary btn" Button>Dare Types</button>
            </li>

            <li class="nav-item">
                <button routerLink="dare"
                class="m-1 btn-light btn-outline-primary btn" Button>Dares</button>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>
</div>