.example-container {
    height: auto;
  }
  
  table {
    width: 100%;
  }

.mat-column-DareTypeId{
    flex: 0 0 30% !important;
}

.mat-column-DareTypeName{
    flex: 0 0 auto !important;
    overflow-x: hidden;
}

mat-row{
  cursor: pointer;
}

.add-button-container{
  position: fixed; 
  z-index: 999; 
  right: 10px; 
  bottom: 10px;
}